body {
  font-family: Arial, sans-serif;
  background: #f4f6fa;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

h2 {
  margin-top: 40px;
  color: #333;
}

form {
  background: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 90%;
  max-width: 400px;
}

label {
  display: block;
  margin-top: 10px;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  margin-top: 15px;
  width: 100%;
  padding: 10px;
  border: none;
  background: #007bff;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

/* Адаптивність */
@media (max-width: 600px) {
  form {
    width: 95%;
  }
}
